* text=auto

# linquist
src/DataTransform.Api.Hosting/wwwroot/DataStranwwwroot/vendor/* linguist-vendored=true
src/DataTransform.Api.Hosting/wwwroot/css/* linguist-vendored=true
src/DataTransform.Api.Hosting/wwwroot/fonts/* linguist-vendored=true