<div class="content" id="container" runat="server">
    <div class="mainbar">
        <div id="editor" data-bind="jsoneditor: content"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div data-bind="component: { name: 'modal',
        params: { componentName: modalComponentName, title: modalComponentTitle, showModal: showModal, context: modalContext}}"></div>
<script>
        require(["domready", "jsoneditor", "jstree", "app/main", 'app/pagemvvm'], function (domReady) { });
</script>