<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title data-bind="text: pageTitle"></title>
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendor/jsoneditor/jsoneditor.min.css" rel="stylesheet">
    <link href="~/vendor/jstree/themes/default/style.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/css/template.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <script type="text/javascript">
        var require = {
            "urlArgs": "bust=" + (new Date()).getTime(),
            "shim": {
                "jquery": {
                    "exports": "$"
                },
                "knockout": {
                    "exports": "knockout"
                },
                "keymaster": {
                    "exports": "key"
                },
                "bootstrap": {
                    "deps": ["jquery"]
                },
                "app/main": {
                    "deps": ["jquery"]
                }
            },
            "map": {
                '*': {
                    'css': 'vendor/require-css/css'
                }
            },
            "paths": {
                "jquery": "vendor/jquery/jquery.min",
                "bootstrap": "vendor/bootstrap/js/bootstrap.min",
                "domready": "vendor/requirejs/domready",
                "text": "vendor/requirejs/text",
                "knockout": "vendor/knockout/knockout.min",
                "knockout-jsoneditor": "vendor/knockout/knockout-jsoneditor",
                "jsoneditor": "vendor/jsoneditor/jsoneditor.min",
                "keymaster": "vendor/keymaster/keymaster",
                "jstree": "vendor/jstree/jstree",
                "websocket": "vendor/websocket/reconnecting-websocket.min",
                "toastr": "vendor/toastr/toastr.min",
                "clipboard": "vendor/clipboard/clipboard.min",
            }
        };
    </script>
    <script src="~/vendor/requirejs/require.js"></script>
</head>

<body>
    <header>
        <div class="navbar navbar-fixed-top bs-docs-nav" role="banner">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    NetCoreStack
                    <span class="bold green">
                        DataTransform:
                        <span data-bind="text: port"></span>
                    </span>
                </a>
            </div>
        </div>
    </header>
    <div class="sidebar">
        <div class="sidebar-container">
            <div class="sidebar-menu">
                <button class="sidebar-actions" data-bind="click: createTransformFile" type="button" title="New transform file">
                    <i class="fa fa-plus"></i>
                </button>
                <button class="sidebar-actions" data-bind="click: renameTransformFile, visible: selectedTreeNode()" type="button" title="Edit transform file"
                        style="display:none;">
                    <i class="fa fa-pencil-square-o"></i>
                </button>
                <button type="button" class="sidebar-actions" title="Run" data-bind="click: run">
                    <i class="fa fa-bolt"></i>
                </button>
            </div>
        </div>
        <div id="tree"></div>
    </div>
    @RenderBody()
</body>

</html>